.submission-counter {
    margin-left: 1em;
}

.add-submission {
    position: absolute;
    right: 30px;
    top: 46px;
}

.submission-comment {
    margin: 0 10px 10px 0;
    padding-left: 20px;
    width: calc(100% - 60px);
    display: inline-block;
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
    word-break: break-word;
}

.linkOverflowEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #337ab7;
}