/* Top Section */
.headerBoxContainer .headerBox {
  border: 1px solid lightgray;
  padding: 15px;
  margin-bottom:20px;
}

.headerBoxContainer .headerBox .issue-type {
  color: #999999;
}

.headerBoxContainer .headerBox .projectTitle {
  margin: 0 0 10px 0;
  font-size: 18pt;
}

.headerBoxContainer .headerBox  .headerLabel span {
  color: #000000;
  font-weight: 500;
}

.headerBoxContainer .headerBox .projectKey {
  font-weight: bold;
  padding: 0;
}

.headerBoxContainer .headerBox .headerBoxStatus {
  font-weight: 100;
  color: #000000;
  margin-bottom: 2px;
}

.headerBoxContainer .headerBox .headerBoxStatus .italic {
  color: #666666;
}

.headerBoxContainer .headerBox .headerBoxStatus.top {
  font-weight: bold;
  margin-bottom: 2px;
}

.headerBoxContainer .headerBox .headerLabel {
  color: #286090;
  font-weight: 700;
}

.headerBoxContainer .headerBox .headerLabel span {
  color: #000000;
  font-weight: 500;
  display: block;
}

/* Tab Headers */
.nav-tabs {
  margin: 20px 0 0 0;
  border: 1px solid #AAAAAA;
  border-bottom: 0;
  height: 44px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/*
.nav-tabs li {
  display: inline-block;
}
*/

.nav-tabs li a,
.nav-tabs li.active a, 
.nav-tabs li.active a:focus, 
.nav-tabs li.active a:hover {
  color: #000000;
  font-size: 16px;
  border:0;
  border-radius:0;
  background-color: #FFFFFF;
}

.nav-tabs li a:hover {
  color: #000000;
}

.nav-tabs li a {
  color:#999999;
  background-color: #F1F1F1;
}

/* Tab Container */
.containerBox .tabContent {
  border: 1px solid #aaaaaa;
  padding: 50px 15px 10px 15px;
  border-top: 0;
  margin: 0;
}