.DatePicker {
    position: relative;
    min-height: 38px;
    display: block !important;
    padding-left: 10px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    color: black;
    width: 95% !important;
}

.react-datepicker-wrapper {
    display: block !important;
}

.react-datepicker__input-container {
    display: block !important;
}

.react-bootstrap-table {
    max-height: 1000px;
    overflow: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #ced4da;
}

.react-bootstrap-table thead {
    position: sticky;
    top: -1px;
    z-index: 2;
    background-color: #e6e9ed;
}

.table-containter .table thead tr th {
    white-space: normal;
    text-overflow: unset;
    padding-left: 4px;
}