.alertMessage.alert {
  width: 100%;
  background-image: none;
}

.alertMessage.alert-dismissable .close, .alertMessage.alert-dismissible .close {
  position: relative;
  float: right;
  margin-right: 20px;
  outline: none;
}

.alertMessage.alert-dismissable {
  padding-right: 15px;
}

.alertMessageContent {
  margin-right: 20px;
}

.alertMessageContent ul {
  margin: 0 20px 0 -20px;
}

.panelHeader .alertMessage.alert {
  margin: 15px 0 5px 0;
}

.alertMessage.alert-danger {
  color: red;
  background-color: #f9dcdc;
  border-color: #f9cdcd;
}

.alertMessageContent.custom-error {
  margin-right: 0;
}

.alertMessage.alert-danger .error-icon  {
  float: right;
}

.alertMessage.alert-danger .error-icon .btnPrimary {
  color:red;
  background-color: transparent;
}

.alertMessage.alert-danger .error-icon .btnPrimary .glyphicon {
  font-size: 14px;
}

.alertMessage.alert-success {
  margin: 10px 0 20px 0;
}
