.btnPrimary {
  color: #f5f5f5;
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
  padding: 1px 8px;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
  border: none;
  background-color: #333;
  transition: all 0.3s ease; 
  outline: none !important;
}

.btnPrimary:hover {
  background-color: #777;
}

.btnPrimary .glyphicon {
  vertical-align: 8%;
  font-size: 0.8rem;
  padding-left: 1px;
}

.cta-container {
  float: left;
}

.cta-container .btn {
  margin-right: 5px;
}

.cta-container .btn,
.cta-container .btn:hover,
.cta-container .btn:active,
.cta-container .btn:focus {
  outline: none;
}

.request-clarification {
  display: inline-block;
  position: relative;
  height: 50px;
  background: url('./icon-live_help.svg') no-repeat center center;
  width: 44px;
  float: left;
  margin: -10px 15px 0 10px;
  opacity: 0.4;
  border:0;
  border-left: 1px solid #A9A9A9;
  border-right: 1px solid #A9A9A9;
  box-shadow: 0;
}

.request-clarification:hover {
  opacity: 1;
  border-color: #DEDEDE;
}

.panel-default>.panel-heading.sample-dc {
  min-height: 50px;
}

.sample-dc {
  width: 100%;
}

.rc-collapse .rc-collapse-item.collapsible .rc-collapse-header,
.rc-collapse .rc-collapse-item.collapsible .rc-collapse-header:focus {
  padding-bottom: 0;
  outline: none;
}

.rc-collapse {
  margin-bottom: 6px;
}

.request-clarification .req-tooltip {
  display: none;
  position: absolute;
  top: -20px;
  left: -51px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.84);
  border-radius: 3px;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  min-width: 140px;
}

.request-clarification:hover .req-tooltip {
  display: block;
}

.request-clarification .req-tooltip  .arrow-down {
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.84);
  top: 24px;
  position: absolute;
  left: calc(50% - 5px);
}

.sample-dc .status {
  float: right;
  background-color: #E1E1E1;
  padding: 5px 18px;
  border-radius: 4px;
  margin-right: 15px;
  cursor: default;
}

.sample-dc .status.approved {
  background-color: #DFF0D8;
  color: #3C763D;
}

.sample-dc .status.pending {
  background-color: #F0E5A9;
  color: #333333;
}

.sample-dc .data-name,
.sample-dc .data-name:focus,
.sample-dc .data-name:active {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color:#000000;
}

.sample-dc .data-name:hover {
  text-decoration: underline;
}

.consent-group-panel-body {
  min-width: 100%;
}

p.modal-large {
  font-size: 16px;
}
