.btnPrimary{
  color: #f5f5f5;
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
  padding: 1px 8px;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
  border: none;
  background-color: #333;
  transition: all 0.3s ease; 
  outline: none !important;
}

.btnPrimary:hover {
  background-color: #777;
}

.btnPrimary .glyphicon {
  vertical-align: 8%;
  font-size: 0.8rem;
  padding-left: 1px;
}
