.data-use-clarification {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

/* Data Use Letter */
.yesNo-container .radioOptions  {
    float: left;
}

.yesNo-container .radioContainer {
    min-height: 60px;
}

.col-padding {
    padding-right: 30px;
}

.checkbox .checkboxLabel {
    margin-top: 20px;
}

.datepicker-readonly .checkboxLabel {
    margin-top: 0;
}

.readonly-content .react-datepicker__close-icon {
    display: none;
}

.alertMessage.alert-success {
    margin: 20px 0 10px 0;
}

.getShareable {
    margin-top: 20px;
}

.getShareable .glyphicon {
    margin-right: 5px;
}
