.radioContainer {
  margin: 20px 0;
}

.panelContent .radioContainer:first-child {
  margin: 0 0 20px 0;
}

.radioContainer .inputFieldLabel {
  font-size: 1.071rem;
  margin-bottom: 10px;
}

.radioOptions {
  display: block;
  position: relative;
  padding: 3px 10px 3px 30px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioOptions input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.radioLabel {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  vertical-align: middle;
}

.radioCheck {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #999999;
}

/* On mouse-over */
.radioOptions:hover input~.radioCheck {
  box-shadow: 0 0 2px 2px rgba(47, 164, 231, 0.3);
}

/* When the radio button is checked */
.radioOptions input:checked ~ .radioCheck {
  box-shadow: 0 0 2px 2px rgba(47, 164, 231, 0.3);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioCheck:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioOptions input:checked~.radioCheck:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioOptions .radioCheck:after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2196F3;
}

fieldset[disabled] .radioOptions {
  opacity: 0.65 !important;
  cursor: not-allowed;
}

.radioOptionsReadOnly {
  pointer-events: none;
}

/* When radioOptions is in readOnly mode*/
.radioOptionsReadOnly:hover,
.radioOptionsReadOnly:hover input~.radioCheck,
.radioOptionsReadOnly input:checked ~ .radioCheck {
  box-shadow: none;
}

/* Style the indicator (dot/circle) */
.radioOptionsReadOnly .radioCheck:after {
  background-color: #777777;
}

/*Comparison Mode*/
.radioOptionsUpdated {
  width: 100%;
  background: #FFF4BD;
}

.radioOptionsUpdated .radioCheck{
  left: 5px;
}

.radioOptionsCurrent {
  position: relative;
  width: 100%;
  margin: 10px 0 5px 0;
  min-height: 38px;
  background: #EAEAEA;
  color: #666666;
  font-size: 1rem;
  font-style: italic;
  padding: 9px 40px 9px 12px;
}

.radioOptionsCurrent:after,
.radioOptionsUpdated:after {
  position: absolute;
  right: 8px; 
  display: block;
  content: '';
  background-size: 36px 18px;
  height: 18px;
  width: 36px;
}

.radioOptionsCurrent:after {
  top: 10px;
  background: url('./old-tag.svg') no-repeat;  
}

.radioOptionsUpdated:after {
  top: 5px;
  background: url('./new-tag.svg') no-repeat;
}

