.questionnaireProgressBar {
    position: relative;
    width: calc(100% + 30px);
    height: 60px;
    background: #FFFFFF;
    margin: -15px 0 15px -15px;
    -moz-box-shadow:    0 1px 3px 1px #E1E1E1;
    -webkit-box-shadow: 0 1px 3px 1px #E1E1E1;
    box-shadow:         0 1px 3px 1px #E1E1E1;
}

.questionContainer {
    width: 323px;
    margin: 0 0 0 15px;
    padding-top: 20px;
}

.questionnaireContainerLight .questionnaireProgressBar {
    top: 0;
}

.questionnaireContainerLight .questionnaireProgressBar p {
    position: absolute;
    display: inline-block;
    margin: 20px 0 0 0;
    left: 574px;
    text-align: left;
    color: #666666;
}

.questionnaireContainerLight .questionnaireProgressBar p.questionTitle {
    position: relative;
    left: 338px;
    top: -20px;
    margin: 0;
    color: #000000;
}

p.internationlCohortsTitle {
    display: block;
    visibility: visible;
}
