.questionnaireContainer {
  position: relative;
  margin-bottom: 20px;
  padding: 5px 20px 25px 20px;
  border: 1px solid darkgray;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.questionnaireContainer .radioContainer p {
  font-size: 1.1rem;
}

.questionnaireContainer .buttonContainer {
  margin: 25px 0 0 0;
}

.questionnaireProgressBar {
  position: absolute;
  right: 0;
  top: -65px;
  padding: 0;
}

.questionnaireProgressBar p {
  text-align: right;
}

.questionnaireProgressBar .progress {
  height: 12px;
  margin-bottom: 0 !important;
  border-radius: 2px;
}

.questionnaireProgressBar .progress-bar {
  background-color: #2c3e50;
  background-image: linear-gradient(to bottom,#395266 0,#2c3e50 100%);
}

.questionnaireProgressBar .progress.complete .progress-bar {
  background-color: #2a631e;
  background-image: linear-gradient(to bottom,#2fb20f 0,#339314 100%);
}
