/*
 * Custom styles for jquery-ui widgets
 */

.ui-widget-header {
    background-image: linear-gradient(to bottom, #FFFFFF 0px, #F8F8F8 100%);
    border: 1px solid #d3d3d3;
}

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: 'Lato', sans-serif !important;
    font-size: 15px;
}

input.invalid, input.invalid:focus, div.invalid {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

div.invalid {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
}

.spinner {
    width: 100px;
}

.spinner input {
    text-align: right;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}


.project-header {
    padding: 10pt;
    border: lightgray solid 1px;
    /*background-color: #efefef;*/
}

.project-key {
    font-size: 18pt;
    font-weight: bold;
    padding-right: 1em;
}

.project-title {
    font-size: 18pt;
    font-style: italic;
}

.project-assignee {
    font-size: 12pt;
    font-style: italic;
}

.issue-type {
    font-size: 10pt;
    font-weight: bold;
    color: mediumblue;
}

#comments .item {
    padding-top: 10px;
    padding-bottom: 10px;
}

#comments .author {
    border-bottom: solid green 1px;
}

.attach-target, .drag-target {
    height: 100px;
    width:  200px;
}

.drag-active {
    background: lightblue;
}

.hide {
    display: none;
}

.status-note {
    border: solid red 1px;
    margin-bottom: 10px;
}

.input-inactive, input.inactive {
    background-color: oldlace;
}

.field-group {
    border: solid darkgrey 1px;
    margin: 10px;
    padding-bottom: 5px;
    background-color: white;
}

.group-header {
    background-color: lightgray;
    font-size: 14pt;
    font-weight: bold;
}

.subgroup-header {
    background-color: #DEDEDE;
    font-size: 12pt;
    font-weight: bold;
}

.group-h2 {
    font-size: 11pt;
    font-weight: normal;
    margin-left: 5px;
}


.ui-menu {
    width: 500px;
    z-index: 3000;
    max-height: 400px;
    overflow-y: auto;
    position: fixed;
    top: 0;
}

.ui-menu .ui-menu-item {
    padding: 0 20px;
    border: 0 !important;
    height: 71px;
    line-height: 71px;
    overflow: hidden;
    background: #FFFFFF;
}

.ui-menu .ui-menu-item.disabled,
.ui-menu .ui-state-focus.disabled {
    background: #FAFAFA;
    font-weight: normal;
    color: #999999;
    padding: 0 20px;
    cursor: default;
    height: 71px;
    line-height: 92px;
    pointer-events: none;
}

.ui-menu .ui-menu-item:hover {
    background: #2c3e50;
    color: #FFFFFF;
}

.ui-menu .ui-menu-item:hover a {
    color: #FFFFFF;
}
    
.ui-menu .ui-menu-item.disabled p,
.ui-menu .ui-menu-item p {
    font-size: 13px;
    margin: 0;
    padding: 0 8px;
    color: #fafafa;
    background: #bbbbbb;
    position: absolute;
    top: 8px;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
}

span.plus {
    cursor: pointer;
    color: red;
}

.methodButton {
    cursor: pointer;
}

.step-header {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.timestamp {
    /*font-size: 10pt;*/
    /*font-family: san-serif;*/
}

.btn-group-vertical > .btn {
    margin-top: 3px;
    margin-bottom: 3px;
}

textarea.property-value {
    width: 85%;
    resize: vertical;
}

div.doc-button-box {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #d3d3d3;
    width: 90%;
}

table.consent-group-table {
    margin-bottom: 10px;
    width: 90%;
}

table.consent-group-table td,
table.consent-group-table th {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #d3d3d3;
}

table.consent-group-table thead th {
    font-size: 16pt;
    font-weight: bold;
    border: 1px solid #d3d3d3;
}

tr.even {
    background-color: #f7f7f7;
}

tr.odd {
    background-color: #ffffff;
}

.dlg-message {
    /*font-style: italic;*/
    color: blue;
    font-size: 13pt;
}

.blockUI {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.3;
    background-color: #000;
    color: #fff;
    z-index: 10;
}

/* revise grails standard to local guidelines */
.project-list {
    margin-top: 2em;
}

.property-label {

}


.disease-name {
    cursor: pointer;
    font-weight: bold;
}

.disease-definition {
    padding-left: 10px;
}

.underline {
    text-decoration: underline;
}

/* Overrides */

td > a {
    color: #337ab7;
    text-decoration: underline;
}

.ui-widget-content td > a {
    color: #337ab7;
}

/* Animation css for nice loading icon */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
